<div
  class="absolute z-30 flex h-20 w-screen items-center justify-start rounded-sm bg-surface-50 text-primary-500 shadow-2xl"
>
  <div
    class="bg-surface-60 flex h-full w-full items-center justify-between gap-2 px-6 lg:w-1/6 lg:justify-center lg:px-0"
  >
    <button
      class=""
      (click)="toggleSidebar()"
    >
      <i class="pi pi-bars"></i>
    </button>
    <p class="text-2xl">LOGO</p>
    <button class="lg:hidden">
      <i class="pi pi-search"></i>
    </button>
  </div>
  <div class="hidden h-full w-5/6 items-center justify-end gap-2 bg-surface-50 px-4 lg:flex">
    <button class="">
      <i class="pi pi-bell"></i>
    </button>
  </div>
</div>
